* {
  margin: 0;
}
body {
  background-image: url("images/electronique.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
  color: #ffffff;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  padding-bottom: 15px;
}
h2 {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  color: #576cc9;
  margin: 40px 0px 40px 0px;
  text-align: center;
}
p {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  margin: 10px 0px 10px 0px;
  text-align: justify;
  font-weight: 320;
}

header,
footer {
  background: linear-gradient(to right, #6156c5, #5fc556);
  height: auto;
}
.img_linkedin {
  width: 60px;
  height: 60px;
  background: none;
}
.img_linkedin:hover {
  opacity: 0.5;
}
.img_github {
  width: 80px;
  height: 60px;
  background: none;
}

.img_github:hover {
  opacity: 0.5;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lien_cv {
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  border: solid 2px #181717;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}
.lien_cv:hover {
  opacity: 0.5;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.border_paragraphe {
  padding: 10px 20px 10px 10px;
  background-color: rgb(153, 161, 161);
  background: opacity 0.8;
  border-radius: 10px;
  line-height: 1.75;
  width: 60%;
  margin: auto;
}
